footer {
	$vertical-angle: 12deg;
	$gradient-color-top:transparentize($accent2-color, .8);
	$gradient-color-bottom:transparentize($accent1-color, .8);

	height: 60px;
	overlay: hidden;
	@include linear-gradient($vertical-angle, $gradient-color-top, $gradient-color-bottom);

	.footer-inner {
		@include outer-container;
		padding-top: 14px;
	}

	.footer-first {
		@include span-columns(6);
		a {
			font-family: $header-font-family;
			@include heading(em(22), transparentize($accent2-color, 0.6), 6px);
			&:hover {
				color: $accent2-color;
			}
		}
	}

	.footer-second {
		@include span-columns(6);
		text-align: right;
		p {
			padding: 4px 0;
			color: $accent2-color;
		}
	}

}