.places {
	h2 {
		text-align: center;
		font-size: 2.2em;
		color: $accent2-color;
		margin-top: 1em;
	}
	h3 {
		display: block;
		max-width: 460px;
		margin: 1em auto;
		padding: 10px;
		color: $light-gray;
		font-family: $base-font-family;
		font-style: italic;
		font-weight: 400;
		font-size: 1.2em;
	}
	ul {
		@include outer-container;
		@include media(max-width $max-width, 6) {
			padding: em(10);
		}
		li { 
			@include span-columns(12);
			margin-bottom: 1em;
			a {
				text-decoration: none;
				display: inline-block;

				&:after {
					content: '';
					display: block;
					height: 1px;
					width: 0;
					background: transparent;
					@include transition(all .2s ease-in-out);
				}
				&:hover:after {
					width: 100%;
					background: $hover-link-color;
				}
			}
			@include media(min-width $medium-screen) {
				@include span-columns(4);
				@include omega(3n);				
			}

		}
	}

	h4 {
		color: $medium-gray;
		font-size: 1.1em;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
}